tmp/
build-errors.log
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.DS_Store

# Wails build artifacts
desktop/build/
desktop/README.md
desktop/.gitignore
desktop/wails.json.bak
desktop/frontend/README.md
desktop/frontend/index.ts
desktop/frontend/package.json.md5
