tmp/
build-errors.log
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.DS_Store

# Go
vior
vior-desktop
/vior*

# Wails desktop build artifacts
desktop/build/
desktop/README.md
desktop/.gitignore
desktop/wails.json.bak
desktop/frontend/README.md
desktop/frontend/index.ts
desktop/frontend/package.json.md5
desktop/frontend/dist/
desktop/frontend/node_modules/

# Capacitor mobile generated
mobile-cap/node_modules/
mobile-cap/android/build/
mobile-cap/android/.gradle/
mobile-cap/android/app/build/
mobile-cap/android/local.properties
mobile-cap/android/app/release/
mobile-cap/www/
